body{
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-sans-serif;
  min-width: 400px;
}

input{
  width: 100%;
  box-sizing: border-box;
  border-color: MediumSeaGreen;
  border: 1px solid MediumSeaGreen;
  margin-bottom: 4px;
}

button{
  background-color: MediumSeaGreen;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px;
  border-radius: 5px;
}

ul{
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}
ul li{
  margin-top: 5px;
}

li a{
  color: MediumSeaGreen;
}
